html, body, .container, header {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	min-height: 100%;
	position: relative;
}

header {
	background: url(images/IMG_2401.jpg) top left/cover no-repeat;
	overflow: hidden;
}

.site-name {
	color: #f9f9f9;
	text-align: right;
	position: absolute;
	top: 1em;
	right: 1em;
}

.site-name h1, h2 {
	margin: 0;
}

.site-name h1 {
	font-size: 2em;
}

.site-name h2 {
	padding: 0.5em 0 0 0;
	font-size: 1.2em;
}

.navbar {
	position: absolute;
	top: 2em;
	left: 1em;
}

.navbar a {
	text-decoration: none;
	padding: 1em 0.7em;
	color: #f9f9f9;
	font-size: 1.2em;
}

main {
	padding: 1em;
}

#portfolio {
	text-align: center;
}

.portfolio-icon {
	width: 30%;
	display: inline-block;
}

.portfolio-icon h6 {
	margin: 0;
	font-size: 1em;
}