html, body, .container, #index {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
	border: none;
	display: inline-block;
}

.container {
	min-height: 100%;
	position: relative;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 0.03em;
}

header {
	min-height: 10em;
}

#index {
	background: url(images/DSC_6346--2.jpg) 50% 0%/cover no-repeat;
	overflow: hidden;
}

.site-name {
	text-align: left;
	position: absolute;
	top: 1.2em;
	left: 1em;
}

#index .site-name {
	color: #f9f9f9; /* цвет на главной странице */
}

.photo-header .site-name {
	color: #af5f8f; /* цвет на страницах с фотографиями */
}

.site-name h1, h2 {
	margin: 0;
}

.site-name h1 {
	font-family: 'Marck Script', cursive;
	font-size: 4em;
	font-weight: 400;
	line-height: 1;
}

.site-name h2 {
	padding: 0 0 0 0.2em;
	font-size: 1.2em;
	font-weight: 100;
}

.navbar {
	position: absolute;
	top: 1em;
	right: 1em;
}

.navbar a {
	padding: 1em 0.5em;
	font-size: 1.5em;
}

#index .navbar a {
	color: #f9f9f9; /* цвет на главной странице */
	font-family: 'Marck Script', cursive; /* шрифт на главной странице */
}

.photo-header .navbar a {
	color: #af5f8f; /* цвет на страницах с фотографиями */
	font-size: 1.2em;
	line-height: 2;
}

.photo-header .navbar a:nth-child(2) {
	padding-left: 0;
}

.dropdown {
	display: none;
}

#arrow-down, #arrow-up {
	width: 50px;
	right: 1em;
	cursor: pointer;
	transition: all 0.8s;
}

#arrow-down {
	position: absolute;
	bottom: 0.2em;
}

#arrow-down:hover {
	bottom: 0.1em;
}

#arrow-down img, #arrow-up img {
	width: 100%;
}

#arrow-up {
	position: fixed;
	bottom: 0.8em;
	z-index: 1;
	display: none;
}

#arrow-up:hover {
	bottom: 1em;
}

main {
	min-height: 100%;
	padding: 0 1em 1em 1em;
	position: relative;
}

#about {
	margin: 0 0 1em 0;
	padding: 1em 4em;
}

#about p {
	margin: 0;
}

#about .first-letter {
	color: #af5f8f;
	font-family: 'Marck Script', cursive;
	font-size: 3em;
}

#portfolio {
	margin: 1em 0;
	text-align: center;
}

.portfolio-icon {
	width: 30%;
	display: inline-block;
}

.portfolio-icon img {
	width: 100%;
}

.portfolio-icon h6 {
	margin: 0 0 1em 0;
	color: #af5f8f;
	font-family: 'Marck Script', cursive;
	font-size: 1.5em;
}

footer {
	width: 100%;
	min-height: 3.5em;
	background-color: #c471a3;
	border-top: 2px solid #af5f8f;
	position: relative;
}

#contacts {
	height: 100%;
	margin: 0 1em;
	float: left;
}

#contacts a {
	width: 50px;
	height: 50px;
	margin: 0.1em -0.3em 0 -0.3em;
	vertical-align: middle;
}

#contacts img {
	width: 100%;
	margin: 0 auto;
}

.copyright {
	margin: 1.3em 1em 1em 1em;
	color: #fff;
	font-size: 0.9em;
	float: right;
}

.photo-album {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.photo-icon {
	margin: 0.5em 1em;
	cursor: pointer;
}

.vertical {
	height: 12em;
}

.horizontal {
	width: 12em;
}

#back {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}

#front {
	width: 60%;
	height: 33em;
	margin: 5% auto 0 auto;
	background-color: rgba(0, 0, 0, 0);
	position: relative;
	z-index: 20;
}

#close {
	width: 1em;
	height: 1em;
	color: #ccc;
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	position: absolute;
	top: 5px;
	right: 10px;
	outline: none;
	z-index: 20;
}

#close:hover {
	font-size: 2.05em;
}

.slide {
	margin: 0 auto;
	display: none;
}

.slide-v {
	height: 100%;
}

.slide-h {
	width: 100%;
}

.prev-slide, .next-slide {
	padding: 1em 1.2em;
	color: #ccc;
  font-size: 1.5em;
	border-radius: 0.3em;
	cursor: pointer;
	position: absolute;
	top: 45%;
}

.prev-slide {
	left: 1em;
}

.next-slide {
	right: 1em;
}

.dots {
	width: 50%;
	height: 1em;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 1em;
	z-index: 20;
}

.dot {
	width: 0.5em;
	height: 0.5em;
	margin: 0 0.1em;
	background-color: #ccc;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}

@media (max-width: 1024px) {
	.site-name h1 {
		font-size: 3.5em;
	}

	.site-name h2 {
		font-size: 1.15em;
	}

	.navbar a {
		font-size: 1.3em;
	}

	.photo-header .navbar a {
		line-height: 1.7;
	}
}

@media (max-width: 900px) {
	.site-name h1 {
		font-size: 3em;
	}

	.site-name h2 {
		font-size: 1.1em;
	}

	.navbar a {
		font-size: 1.2em;
	}

	.photo-header .navbar a {
		font-size: 1.1em;
		line-height: 1.3;
	}
}

@media (max-width: 800px) {
	/*.container {
		padding-top: 4em;
	}*/

	#index {
		background-position: 30% 0%;
	}

	#index .site-name {
		top: 5.2em;
	}

	#index .navbar {
		display: none;
	}

	.dropdown {
		width: 100%;
		height: 4em;
		background-color: #c471a3;
		border-bottom: 2px solid #af5f8f;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	#burger {
		width: 2.5em;
		height: 2em;
		position: absolute;
		top: 1em;
		right: 1em;
		cursor: pointer;
	}

	#burger span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: #f9f9f9;
		position: absolute;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}

	#burger span:first-child {
		top: 5px;
	}

	#burger span:nth-child(2) {
		top: 15px;
	}

	#burger span:last-child {
		bottom: 3px;
	}

	#drop-menu {
		display: none;
		width: 100%;
		padding-top: 4em;
		position: absolute;
		z-index: 1;
	}

	#drop-menu a {
		text-decoration: none;
		display: block;
		padding: 1em;
		color: #f9f9f9;
		font-size: 1.2em;
		font-weight: 400;
		text-align: center;
		background-color: #c471a3;
		border: 1px solid #af5f8f;
	}

	.span-one-active {
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-o-transform: rotate(40deg);
		transform: rotate(40deg);
		-webkit-transform-origin: 8% 50%;
		-moz-transform-origin: 8% 50%;
		-ms-transform-origin: 8% 50%;
		-o-transform-origin: 8% 50%;
		transform-origin: 8% 50%;
	}

	.span-two-active {
		display: none !important;
	}

	.span-three-active {
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		transform: rotate(-40deg);
		-webkit-transform-origin: 8% 50%;
		-moz-transform-origin: 8% 50%;
		-ms-transform-origin: 8% 50%;
		-o-transform-origin: 8% 50%;
		transform-origin: 8% 50%;
	}

	#about {
		padding: 1em 3em;
	}

	.portfolio-icon {
		width: 45%;
	}
}

@media (max-width: 640px) {
	#about {
		padding: 1em 2em;
	}

	.portfolio-icon {
		width: 90%;
	}
}

@media (max-width: 400px) {
	#contacts, .copyright {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.copyright {
		padding: 0.7em 0;
	}
}