html,
body,
#index {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	border: none;
	color: #000;
	display: inline-block;
	text-decoration: none;
}

img {
	border: none;
}

.container {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 100;
	letter-spacing: 0.03em;
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

#index {
	overflow: hidden;
	position: relative;
}

.index-image {
	background: #853866 url('../../images/DSC_6346--2.jpg') no-repeat;
	background-size: 100% auto;
	width: 100%;
}

.site-name {
	left: 0;
	margin: 0 1.5em;
	position: absolute;
	text-align: left;
	top: 1.5em;
}

#index .site-name {
	color: #fff;
}

.site-name h1, h2 {
	margin: 0;
	font-weight: 400;
}

.site-name h1 {
	line-height: 1;
	font-family: 'Marck Script', sans-serif;
	font-size: 3em;
}

.site-name h2 {
	font-size: 1.2em;
}

.navbar {
	margin: 0 1.5em;
	position: absolute;
	right: 0;
	top: 1.2em;
}

.navbar a {
	font-size: 1.2em;
	padding: 1em 0.5em;
}

#index .navbar a {
	color: #fff;
	font-family: 'Marck Script', sans-serif;
}

#dropdown {
	display: none;
}

#arrow-down,
#arrow-up {
	cursor: pointer;
	right: 1em;
	transition: all 0.8s;
	width: 50px;
}

#arrow-down {
	bottom: 0.2em;
	position: absolute;
}

#arrow-down:hover {
	bottom: 0.1em;
}

#arrow-down img,
#arrow-up img {
	width: 100%;
}

#arrow-up {
	bottom: 0.8em;
	display: none;
	position: fixed;
	z-index: 1;
}

#arrow-up:hover {
	bottom: 1em;
}

main {
	min-height: 100%;
	padding: 0 1em;
	position: relative;
}

#main-index {
	padding: 2em 1em;
}

.ornament {
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	width: 90%;
}

.ornament img {
	max-width: 1700px;
	width: 100%;
}

#about,
#portfolio {
	margin: 0 auto;
	text-align: center;
}

#about {
	max-width: 60em;
	padding: 0 0 1.5em 0;
	width: 70%;
}

#about p {
	font-size: 1.1em;
	margin: 0;
}

#about .first-letter {
	color: #853866;
	font-family: 'Marck Script', sans-serif;
	font-size: 3em;
}

#portfolio {
	padding: 1.5em 0 1em 0;
}

.portfolio-icon {
	display: inline-block;
	margin: 0 0.2em;
	width: 30%;
}

.portfolio-icon img {
	width: 100%;
}

.portfolio-icon h3 {
	color: #853866;
	font-family: 'Marck Script', sans-serif;
	font-size: 1.3em;
	margin: 0 0 1em 0;
}

#contacts {
	margin: 0 auto;
	min-height: 5em;
	padding: 1em 0;
	position: relative;
	width: 40em;
}

#contacts p {
	font-size: 1.1em;
	margin: 0;
	padding: 0.5em;
	position: absolute;
}

#contacts span {
	font-weight: bold;
}

#contacts a {
	color: #853866;
	font-size: 1.1em;
}

footer {
	background-color: #c471a3;
	border-top: 1px solid #853866;
	min-height: 5em;
	position: relative;
	width: 100%;
}

.contacts-icons,
.copyright {
	margin: 0.8em 1em 0 1em;
}

.contacts-icons {
	float: left;
}

.contacts-icons a {
	height: 40px;
	margin: 0.5em 0;
	vertical-align: middle;
	width: 40px;
}

.contacts-icons img,
.copyright img {
	margin: 0 auto;
	width: 100%;
}

.copyright {
	float: right;
}

.copyright a {
	height: 27px;
	margin-top: 0.9em;
	vertical-align: middle;
	width: 27px;
}

.copyright p {
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 1em;
	margin: 1.25em 1em 1em 0.3em;
	vertical-align: middle;
}

.photo-page {
	padding-bottom: 1em;
}

.photo-header {
	min-height: 11em;
	position: relative;
}

.photo-header .site-name {
	color: #853866;
}

.photo-header .navbar a {
	color: #853866;
	font-size: 1.2em;
	padding: 0.9em 0 0.9em 0.5em;
}

.photo-album {
	margin: 0 auto;
	text-align: center;
	width: 50em;
}

.photo-icon {
	cursor: pointer;
	margin: 0.5em 1em;
	width: 12em;
}

#back {
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#front {
	background-color: rgba(0, 0, 0, 0);
	height: 100%;
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 70%;
	z-index: 20;
}

#close {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	color: #ccc;
	cursor: pointer;
	font-size: 2em;
	height: 1em;
	outline: none;
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 20;
	width: 1em;
}

#close:hover {
	font-size: 2.05em;
}

.slide {
	bottom: 0;
	display: none;
	margin: auto;
	max-height: 80%;
	max-width: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.prev-slide,
.next-slide {
	border-radius: 0.3em;
	color: #ccc;
	cursor: pointer;
  font-size: 1.5em;
	padding: 1em 1.2em;
	position: absolute;
	top: 45%;
}

.prev-slide {
	left: 1em;
}

.next-slide {
	right: 1em;
}

.dots {
	bottom: 2.5em;
	height: 1em;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 20;
}

.dot {
	background-color: #ccc;
	border-radius: 50%;
	display: inline-block;
	height: 0.5em;
	margin: 0 0.1em;
	vertical-align: middle;
	width: 0.5em;
}
