@media (max-width: 1024px) {
	.site-name h1 {
		font-size: 2.5em;
		margin-bottom: 0.2em;
	}

	.site-name h2 {
		font-size: 1.05em;
	}

	.navbar a {
		padding: 0.85em 0.3em;
	}

	#contacts {
		width: 60%;
	}

	.photo-header .navbar a {
		font-size: 1.1em;
		padding: 0.8em 0 0.8em 0.5em;
	}
}

@media (max-width: 900px) {
	#about,
	#contacts {
		width: 70%;
	}

	.photo-album {
		width: 90%;
	}
}

@media (max-width: 800px) {
	#index {
		background: url(../../images/DSC_6346--2.jpg) center/cover no-repeat;
	}

	#index .navbar {
		display: none;
	}

	.photo-header .navbar {
		box-sizing: border-box;
		margin: 0 auto;
		padding: 0 1em;
		text-align: right;
		top: 1em;
		width: 100%;
	}

	.photo-header .site-name {
		margin-top: 3em;
	}

	#dropdown {
		display: inline-block;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	#burger {
		cursor: pointer;
		height: 20px;
		position: absolute;
		right: 1.5em;
		top: 1.3em;
		width: 35px;
		z-index: 2;
	}

	#burger span {
		background-color: #fff;
		display: block;
		height: 2px;
		position: absolute;
		transition: 0.5s;
		width: 100%;
	}

	#burger span:first-child {
		top: 0;
	}

	#burger span:nth-child(2) {
		top: 9px;
	}

	#burger span:last-child {
		bottom: 0;
	}

	#drop-menu {
		background-color: #c471a3;
		border-bottom: 1px solid #853866;
		display: none;
		padding-top: 4em;
		position: absolute;
		width: 100%;
		z-index: 1;
	}

	#drop-menu a {
		background-color: #c471a3;
		border-top: 1px solid #853866;
		color: #fff;
		display: block;
		font-size: 1.2em;
		font-weight: 400;
		padding: 1em;
		text-decoration: none;
		text-align: center;
	}

	.span-one-active {
		transform: rotate(40deg);
		transform-origin: 10% 50%;
	}

	#burger .span-two-active {
		display: none;
	}

	.span-three-active {
		transform: rotate(-40deg);
		transform-origin: 10% 50%;
	}

	.portfolio-icon,
	.photo-icon {
		width: 45%;
	}

	#about,
	#contacts {
		width: 75%;
	}

	.photo-album {
		width: 80%;
	}

	.photo-icon {
		margin: 0;
	}

	.prev-slide,
	.next-slide {
		padding: 1em;
	}

	.prev-slide {
		left: 0;
	}

	.next-slide {
		right: 0;
	}
}

@media (min-width: 641px) {
	#contacts p:nth-child(1),
	#contacts p:nth-child(2) {
		left: 0;
		text-align: left;
	}

	#contacts p:nth-child(3),
	#contacts p:nth-child(4) {
		right: 0;
		text-align: right;
	}

	#contacts p:nth-child(1),
	#contacts p:nth-child(3) {
		top: 0;
	}

	#contacts p:nth-child(2),
	#contacts p:nth-child(4) {
		bottom: 0;
	}
}

@media (max-width: 640px) {
	.site-name h1 {
		font-size: 2em;
	}

	#about,
	#contacts {
		width: 90%;
	}

	#contacts {
		padding: 0;
		text-align: center;
	}

	#contacts p {
		padding: 1em 0.5em;
		position: static;
	}

	.portfolio-icon,
	.photo-icon {
		width: 100%;
	}

	.contacts-icons,
	.copyright {
		float: none;
		margin: 0 auto;
	}

	footer {
		text-align: center;
	}

	.contacts-icons {
		width: 100%;
	}

	.contacts-icons a {
		margin: 0.5em 0.3em;
	}

	.copyright {
		min-height: auto;
		padding: 0.7em 0;
		width: auto;
	}

	.copyright a {
		margin: -0.4em 0 0 0;
	}

	.copyright p {
		float: none;
		height: 100%;
		margin: 0;
		padding: 0 0 0.2em 0;
	}

	.prev-slide,
	.next-slide {
		padding: 1em 0.5em;
	}
}

@media (max-width: 440px) {
	#contacts p {
		padding: 0.8em 0.5em;
	}

	.photo-header .site-name {
		margin-top: 4em;
	}

	.photo-header .navbar a {
		padding: 0.1em;
	}
}

@media (max-width: 340px) {
	.site-name h1 {
		font-size: 1.7em;
	}
}

@media (max-width: 900px) and (orientation: landscape) {
	.dots {
		bottom: 1.5em;
	}
}
